<div style="padding: 1rem;" class="row">
    <div class="card col-4" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Mastering in AG-Grid</h5>
            <h6 class="card-subtitle mb-2 text-muted">Simple AG-Grid</h6>
            <p class="card-text">Sample data to show in simple AG-Grid</p>
            <a href="/simple-grid" class="card-link">Show</a>
        </div>
    </div>
    <div class="card col-4" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Mastering in AG-Grid</h5>
            <h6 class="card-subtitle mb-2 text-muted">CRUD Operarions</h6>
            <p class="card-text">ADD Update Delete Read Rows Using Ag-Grid</p>
            <a href="/crud" class="card-link">Show</a>
        </div>
    </div>
</div>