<div style="padding: 1rem;">
    <div class="row">
        <h5 class="col-9">CRUD Operations</h5>
    </div>
    <hr/>
    <ag-grid-angular
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        (gridReady)="onGridReady($event)"
        [editType]='"fullRow"'
        (rowValueChanged)="onRowValueChanged($event)"
        [frameworkComponents]="frameworkComponents"
        [domLayout]="domLayout"
    >
    </ag-grid-angular>
</div>
<div style="padding: 1rem;">
    <button class="btn btn-primary btn-sm" (click)="insertNewRow()">+ Add Row</button>
</div>